
body, html {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

#header{
	height: 8vh;
	width: 100vw;
	position: absolute;
	bottom: 0;
	text-align: center;
}

#logo{
	display: inline-block;
	width: 8vh;
	height: 8vh;
	background: url(https://s3-us-west-1.amazonaws.com/habmc/assets/Logo_BlackSubText.png);
	background-size: contain;
}

.table {
    margin: 0 auto;
    width: 80vw;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

h1, h4, h3{
	text-align: center;
}

form{
	text-align: right;
}

#marking_complete{
	text-align: center;
}