{% extends 'skeleton.html' %}

{% block title %}
<title> Update task</title>
{% endblock %}

{% block body %}

<div class = "table">
	<h1> Update Task </h1>

	<form action = '/update/{{ task.id }}' method = "POST" id = "marking_complete">
		<input type = "text" name = "task" id = "task" value = "{{ task.content }}" autocomplete="off"> </input>
		<input type = "text" name = "assigned" id = "assigned" value = "{{ task.assigned_to }}" autocomplete="off"> </input>
		<input type = "submit" value = "Update"> </input> 
	</form>
</div>

{% endblock %}